.hyperlinks {
    text-align: end;
}

.search_bar {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {
    border: none;
    background-color: powderblue;
    color: white;
    text-align: center;
    width: 120px;
    height: 30px;
}

.button1:hover {
    background-color: blue;
}